section
{
    display:flex;
    height:100vh;
    width:100%;
}
/****************************table ko css***************************/
.question-information-table
{
    width:100%;
    height:auto;
    
}
.questionn-table-container
{
    width:100%;
   
    padding:3rem;
}
.table-container
{
    border-collapse:collapse;
    margin:1.3rem;
    font-size:1.2rem;
    min-width:400px;
}
.table-container thead tr
{
    background-color:rgb(9, 107, 253);
    color:#ffff;
    text-align: left;
}

.table-container th,
.table-container td
{
    padding:12px 15px;
}
.table-container tbody td{
    border-left: 1px solid #dddddd;
}
.table-container tbody tr{
    border-bottom: 1px solid #dddddd;
}

/****************************table btn-*****************************/
.table-data-delete
{
    text-decoration:none;
    background-color:red;
    padding:0.6rem 0.7rem;
    color:#fff;
    border-radius:50px;
    font-size:0.7rem;
    font-weight: bold;
}