/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/******************************************SHARE ABLE CODE***************************************/

body{
    overflow-x:hidden;
}
.select-design
{
    
    height:auto;

    font-family: "Roboto";
    color:#fff;

}
.select-design select
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline:0;
    -webkit-box-shadow:-4px -4px 6px #fff,4px 4px 6px #dcd6d6;
            box-shadow:-4px -4px 6px #fff,4px 4px 6px #dcd6d6;
    border:none;
    
    height:2rem;
    position: relative;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    width:10rem;
    font-size:1rem;
    line-height:2;
    background:#f6f6f6;
    color:#000;
    overflow:hidden;
    border-radius:10px;
    padding-left:1rem;
    cursor:pointer;
}
.select-design select::-ms-expand
{
    display:none;
}

.select-design:after
{
    content:'\25BC';
    position:absolute;
    top:0;
    right:0;
    border-radius:0 10px 10px 0;
   width:1.2rem;
   padding:0.41rem;
    background:#000;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition:.25s all ease;
    -o-transition:.25s all ease;
    transition:.25s all ease;
}
.select-design:hover::after
{
    color:#23b490;
}



/*********************888888select tag desing end*****************************/







/***************************************************/
/*********************bichako bhaag ****************/
/***************************************************/
main
{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top:3rem;

    width:100%;
    height:auto;


}
/*********************Side BAR of Division****************/
aside
{
    position: relative;

    width:20rem;
    
    border-right:4px dotted #707070;

    height:25.25rem;

    
    
}
.division-category
{
   
    margin-bottom:2rem;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.division
{
   
    border-radius:50px;
    
    padding:0.6rem 3rem;
    text-decoration: none;
    font-size: 0.75rem;
    color:#05B22D;
    font-weight: 400;
    display:block;
    width:75%;
    letter-spacing:0.1rem;
    background-color: #F6F6F6;
    -webkit-box-shadow:-3px -3px 6px #fff,3px 3px 6px #dcd6d6;
            box-shadow:-3px -3px 6px #fff,3px 3px 6px #dcd6d6;
    
}
.division:hover
{
    color: rgb(7, 144, 39);
    -webkit-box-shadow: inset 3px 3px 6px #dcd6d6, inset -3px -3px 6px #fff;
            box-shadow: inset 3px 3px 6px #dcd6d6, inset -3px -3px 6px #fff;
}
/*************************88********sidbar opener and closer********************************/
.sidebarOpener
{
   
    -webkit-transition:background-color 0.3s;
   
    -o-transition:background-color 0.3s;
   
    transition:background-color 0.3s;
    display:none;
    width:2rem;
    background-color:#F17516;
    border-radius:0 50px 50px 0;
    text-decoration: none;
}
.sidebarOpener p
{
   font-size:0.7rem;
   margin-left:0.5rem;
   color:#fff;
}
.sidebarOpener p i
{
    font-size:1rem;
}
.sidebarCloser
{
   
    display:none;
    width:2rem;
    background-color:#F17516;
    border-radius:0 50px 50px 0;
    text-decoration: none;
}
.sidebarCloser p
{
    
    font-size:0.7rem;
   
   color:#fff;
}
.sidebarCloser p i
{
    font-size:1rem;
}



.subject-lists
{
    position:absolute;
    top:10%;
    left:0%;
width:20rem;
    list-style:none;
}
.subject-list{
margin:1rem 0;
width:80%;

}
.subject-list a
{
    text-decoration:none;
    border-radius:50px;
    display:block;
    font-size: 0.75rem;
    padding:0.3rem 1rem;
    color:#F17516;
    width:80%;
    font-weight: 400;
    letter-spacing: 0.1rem;

}
.subject-list a:hover {
    color:rgb(192, 89, 10);
}

#division-select
{
    background-color:#D8D5D5;
}
/****************************************************************************
/*********************main  question add section ***************************/
/**************************************************************************/


/********backdrop css*****************/
.popup
{
    background-color:rgba(0,0,0,0.8);
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    display:none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align:center;
    z-index:2;
    

}
.popup-content
{
    height:auto;
    width:700px;
    background-color:#f6f6f6;
    padding:20px;
    border-radius:15px;
    position: relative;

}

.close
{
    position: absolute;
    top:0rem;
    left:0rem;    
    cursor: pointer;
}
.close:hover
{
    -webkit-transform:scale(1.1);
        -ms-transform:scale(1.1);
            transform:scale(1.1);
}
form
{
    width:100%;
}
.question-form
{
height:25rem;
width:100%;
background-color:#f6f6f6;
position: relative;
}

.public-private
{
    position:absolute;
    top:1rem;
    right:1rem;


font-family: "Roboto";
color:#fff;
}
.question-input
{
    position:absolute;
    top:8rem;
    left:2rem;
    width:80%;
   
    
}
.question-input input
{
    font-size:1.2rem;
    color:#5c6664;
    background-color:#f6f6f6;
}
.question-input-section
{
    width:100%;
    border:none;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    padding:1rem;
}
.question-input-section
{
    outline:none; 
}
.question-input-section::-webkit-input-placeholder
{
    font-size:1.3rem;
}
.question-input-section::-moz-placeholder
{
    font-size:1.3rem;
}
.question-input-section:-ms-input-placeholder
{
    font-size:1.3rem;
}
.question-input-section::-ms-input-placeholder
{
    font-size:1.3rem;
}
.question-input-section::placeholder
{
    font-size:1.3rem;
}
.add-image
{
    position: absolute;
    top:15rem;
    right:0rem;
}
.add-image .image-box
{
    display:none;
}
.img-show
{
    position: absolute;
    top: 57%;
    width: 3.4rem;
    height: 3.1rem;
    right: 19%;
    border:1px solid #f6f6f6;
    -webkit-box-shadow:-4px -4px 6px #fff,3px 3px 6px #dcd6d6;
            box-shadow:-4px -4px 6px #fff,3px 3px 6px #dcd6d6;
    border-radius:50%;
    z-index:3;
    display:none;
 

}
.img-show-hide
{
    display:block;
}
.inner-circle
{
    width:80%;
    height:80%;
    position:absolute;
    left:11%;
    top:10%;
    border-radius:50%;
    z-index:2;
   
 
    
}
.img-show img
{
    width:100%;
    height:100%;
    border-radius:50%;
}
.add-image label
{
    height:1.2rem;
    width:3rem;
    background-color:#05B22D;
    font-size:0.9rem;
    padding:0.6rem 0.5rem;
    border-radius:50px;
    color:#fff;
    cursor: pointer;
}

/********************************SEletct tag design***********************/

.question-tag{
    position:absolute;
    top:15rem;
    left:3rem;
    width:8rem;
    height:2rem;
    border:none;
    }
.question-tag-box
{
    position:relative;
    width:100%;
    height:100%;
   
      
}
.taglist-btn
{
    width:100%;
    height:100%;
    border:none;
    background-color:#f6f6f6;
    -webkit-box-shadow:-4px -4px 6px #fff,3px 3px 6px #dcd6d6;
            box-shadow:-4px -4px 6px #fff,3px 3px 6px #dcd6d6;
    border-radius:50px;
    outline:none;
}
.taglist-btn:hover
{
    -webkit-box-shadow:inset -4px -4px 6px #fff,inset 3px 3px 6px #dcd6d6;
            box-shadow:inset -4px -4px 6px #fff,inset 3px 3px 6px #dcd6d6;
}
.tag-selected-container
{
    position:absolute;
    top:100%;   
    width:100%;
    height:100%;
    -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;

    -webkit-transform:rotateX(90deg);

            transform:rotateX(90deg);
   -webkit-transition:0.5s;
   -o-transition:0.5s;
   transition:0.5s;
 
    
}
.question-tag:hover .tag-selected-container
{
    -webkit-transform:rotateX(0deg);
            transform:rotateX(0deg);
    
}
.tag-selected-lists
{
    width:100%;
    height:100%;
    list-style:none;
    margin:0;
    padding:0;

 
}
.tag-selected-list
{
    width:100%;
    height:100%;
    background-color:#f6f6f6;
    -webkit-box-shadow:-4px -4px 6px #fff,3px 3px 6px #dcd6d6;
            box-shadow:-4px -4px 6px #fff,3px 3px 6px #dcd6d6;
   
  
}
.tag-selected-list label
{
    display:inline-block;
    width:80%;
    height:100%;
    text-decoration:none;
   
    padding-top:0.3rem;
}
#tag-checkedBox
{
    width:10%;
    display:inline-block;
}
.add-tag-btn i
{
    font-size:0.8rem;
    padding:0;
    vertical-align: middle;
    
}
/**********************select subject**************************/

.select-subject
{
position: absolute;
top:15rem;
left:15rem;
}

.add-question-btn
{
    position:absolute;
    bottom:1.5rem;
    right:0rem;
    background-color:#F17516;
    padding:0.6rem 1rem;
    border:none;
    border-radius:50px;
    color:#fff;
    letter-spacing: 0.08rem;

}
.add-question-btn:focus
{
    outline:none;
}
.add-question-btn:hover
{
    background-color:rgb(192, 89, 10);
}



.select
{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}




/**********************************ask question box end**************************************/

.ask-look-question
{
    width:75%;

    height:auto;
    
    display:-webkit-box;
    
    display:-ms-flexbox;
    
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    
}
.ask-question
{
    position: relative;
    width:80%;
  
    height:10rem;
    margin-bottom:6rem;

}
.ask-question-box
{
    width:100%;
    height:100%;
    border:none;
    cursor: pointer;
    background-color: #F6F6F6;
    -webkit-box-shadow:-3px -3px 6px #fff,3px 3px 6px #dcd6d6;
            box-shadow:-3px -3px 6px #fff,3px 3px 6px #dcd6d6;
    
}
.ask-question-box:focus
{
    outline:none;
 
    -webkit-box-shadow:inset -3px -3px 6px #fff,inset 3px 3px 6px #dcd6d6;
 
            box-shadow:inset -3px -3px 6px #fff,inset 3px 3px 6px #dcd6d6;
}
.ask-question-box:hover
{
   
    -webkit-box-shadow:inset -3px -3px 6px #fff,inset 3px 3px 6px #dcd6d6;
   
            box-shadow:inset -3px -3px 6px #fff,inset 3px 3px 6px #dcd6d6;}
.ask-question h2
{
    position:absolute;
    top:10%;
    left:30%;
    color:rgba(32, 32, 32, 0.39);
    text-transform: uppercase;
    -webkit-transition:color 0.2s;
    -o-transition:color 0.2s;
    transition:color 0.2s;
    }

.ask-question-box:hover  h2
{
    color:rgb(32, 32, 32);
}
.question-profile
{
    position:absolute;
    margin:0;
    top:10%;
    left:3%;
    font-size:0.6rem;
    padding:0.8rem 1rem;
    text-decoration: none;

    color:#707070;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    z-index:1;
    cursor: pointer;
}
.ask-question .question-click
{
    position: absolute;
    bottom:2%;
    right:2%;
    color:#05b22d;
}
.ask-question-box:hover .question-click
{
    color: rgb(7, 144, 39);
}
/*********************main answer section ***************************/
.main-question-container
{
    width:80%;
    height:auto;
    color:#5c6664;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
   
     
    
}
.question-box
{
    height:auto;
    width:100%;
    max-width:800px;
}
.questions
{   
    
    width:100%;
    height:auto;
    background-color:#F6F6F6;
    margin-bottom: 2rem;
    padding:2rem;
    margin-bottom: 2rem;
    -webkit-box-shadow: -3px -3px 6px #fff, 3px 3px 6px #dcd6d6;
            box-shadow: -3px -3px 6px #fff, 3px 3px 6px #dcd6d6;
}



/*************************************************question text********************************/
.question-text
{
   
    margin-top:0.6rem;
    letter-spacing: 0.06rem;
    font-size:1.5rem;
    margin-bottom: 0;
    color:#000;
   
}

/*********************************************question image****************************************/
.question-image
{
    width:80%;
    height:20rem;
    margin:1rem auto 1rem 2rem;
    border:8px solid #f6f6f6;
    -webkit-box-shadow:-7px -7px 6px #fff,4px 4px 6px #dcd6d6;
            box-shadow:-7px -7px 6px #fff,4px 4px 6px #dcd6d6;

}
.question-image img
{
    display:inline-block;
    width:100%;
    height:100%;
}

/**********************************question image end****************************************************/
.question-more-tag
{
    text-decoration: none;
    color:#05B22D;
}
.question-more-tag:hover
{
    color: rgb(7, 144, 39);
}
.top-part
{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}


.recommend-text
{

    font-size:0.6rem;
    color:#707070;
    letter-spacing: 0.1rem;
    text-transform: uppercase;

}

/**********************************more option start*********************/
.more-option
{
position:relative;
}
.for-all-option
{
    position: absolute;
    top: 3rem;
    left: 0rem;
    width: 8rem;
    height: auto;
    background-color: rgba(112, 112, 112, 0.884);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    display: none;
}

.more-option-second-container
{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    height:auto;
    width:100%;
}
.more-option-active
{
    display:inline-block;
}
.for-all-option a
{
    text-decoration: none;
    padding: 0.7rem 1rem;
    width: 100%;
    color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    text-align: center;

}
.for-all-option::after
{
    position: absolute;
    top: -1rem;
    left: 7px;
    content: "";
    height: 2rem;
    width: 2rem;
    border-left: 1px solid rgb(112, 112, 112);
    border-top: 1px solid rgb(112, 112, 112);
    -webkit-transform: rotateZ(46deg);
        -ms-transform: rotate(46deg);
            transform: rotateZ(46deg);
    background-color: #808080;
}
.option-anchor
{
    text-decoration:none;
    border:none;
    background-color: #F6F6F6;
    -webkit-box-shadow:-3px -3px 6px #fff,3px 3px 6px #dcd6d6;
            box-shadow:-3px -3px 6px #fff,3px 3px 6px #dcd6d6;
    outline:none;
    cursor: pointer;
  
}
.option-anchor:hover
{
    -webkit-box-shadow:inset -3px -3px 6px #fff,inset 3px 3px 6px #dcd6d6;
            box-shadow:inset -3px -3px 6px #fff,inset 3px 3px 6px #dcd6d6;
}


.cir-1,
.cir-2,
.cir-3
{
    display: inline-block;
    width:5px;
    height:5px;
    margin:0;
    padding:0;
    border:1px solid rgba(0,0,0,0.8);
    border-radius:50px;
    


}

/************************************************************
/******************more option end***************************/
/*************************************************************/
.small-detail
{
   
    width:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color:#707070;
    letter-spacing: 0.1rem;
    margin:0 1rem 0 0rem ;
}
.small-detail p
{
    font-size:0.6rem;
}
.answer-btn-container
{

   width:100%;
   
   height:50%;
   padding-top: 3rem;
   text-align: right;


}

.answer-btn-container a
{
    
   text-align:center;
    text-decoration:none;
    border-radius:50px;
    padding:0.7rem 0.9rem;
    font-size:0.6rem;
    letter-spacing: 0.1rem;
    background-color:#F17516;
    font-weight: 700;
    color:#F6F6F6;

    -webkit-transition:background-color 0.3s;

    -o-transition:background-color 0.3s;

    transition:background-color 0.3s;
}
.answer-btn-container a:hover
{
    -webkit-transform:scale(1);
        -ms-transform:scale(1);
            transform:scale(1);
    background-color:rgb(196, 92, 13);

}

.first-tag,
.second-tag
{
text-decoration: none;
padding:0.2rem 2rem;
border-radius: 50px;
font-size:0.5rem;
}
.first-tag
{
    color:#32ACFE;
    background-color: #F6F6F6;
    -webkit-box-shadow:-3px -3px 6px #fff,3px 3px 6px #dcd6d6;
            box-shadow:-3px -3px 6px #fff,3px 3px 6px #dcd6d6;

}
.second-tag
{
color:#F60000;
background-color: #F6F6F6;
-webkit-box-shadow:-3px -3px 6px #fff,3px 3px 6px #dcd6d6;
        box-shadow:-3px -3px 6px #fff,3px 3px 6px #dcd6d6;
}

.first-tag:hover,
.second-tag:hover
{

    -webkit-box-shadow:inset -3px -3px 6px #fff,inset 3px 3px 6px #dcd6d6;

            box-shadow:inset -3px -3px 6px #fff,inset 3px 3px 6px #dcd6d6;
}
.first-tag:hover
{
    color:rgb(24, 136, 211);
}

.second-tag
{
color:rgb(185, 7, 7);
}
.bell-notification 
{
    -webkit-transform-origin:top;
        -ms-transform-origin:top;
            transform-origin:top;
   
 -webkit-animation-name:bell-ring;
   
         animation-name:bell-ring;
 -webkit-animation-duration:3s;
         animation-duration:3s;
 -webkit-animation-delay:0.5s;
         animation-delay:0.5s;
 /* animation-iteration-count: */
}

/************************************************************
/*************************answer section end********************/
/*************************************************************/


@-webkit-keyframes bell-ring
{
    0%{
        -webkit-transform:rotateZ(30deg) scale(1.6);
                transform:rotateZ(30deg) scale(1.6);
        color:red;
    }
  
    20%
    {
        -webkit-transform:rotateZ(-30deg) scale(1.6);
                transform:rotateZ(-30deg) scale(1.6);
        color:red;
    }
   
    40%
    {
        -webkit-transform:rotateZ(30deg) scale(1.6);
                transform:rotateZ(30deg) scale(1.6);
        color:red;
    }
    60%
    {
        -webkit-transform:rotateZ(-30deg) scale(1.6);
                transform:rotateZ(-30deg) scale(1.6);
        color:red;
    }
    80%
    {
        -webkit-transform:rotateZ(30deg) scale(1.6);
                transform:rotateZ(30deg) scale(1.6);
        color:red;
    }
  
    100%{
        -webkit-transform:rotateZ(0) scale(1);
                transform:rotateZ(0) scale(1);
    }
}


@keyframes bell-ring
{
    0%{
        -webkit-transform:rotateZ(30deg) scale(1.6);
                transform:rotateZ(30deg) scale(1.6);
        color:red;
    }
  
    20%
    {
        -webkit-transform:rotateZ(-30deg) scale(1.6);
                transform:rotateZ(-30deg) scale(1.6);
        color:red;
    }
   
    40%
    {
        -webkit-transform:rotateZ(30deg) scale(1.6);
                transform:rotateZ(30deg) scale(1.6);
        color:red;
    }
    60%
    {
        -webkit-transform:rotateZ(-30deg) scale(1.6);
                transform:rotateZ(-30deg) scale(1.6);
        color:red;
    }
    80%
    {
        -webkit-transform:rotateZ(30deg) scale(1.6);
                transform:rotateZ(30deg) scale(1.6);
        color:red;
    }
  
    100%{
        -webkit-transform:rotateZ(0) scale(1);
                transform:rotateZ(0) scale(1);
    }
}














/*******************************Responsive design****************************************/
@media (max-width:900px)
{
    .question-text
{
    font-size:1.2rem;
}
.answer-btn-container a
{
    font-size:0.5rem;
}
.first-tag,
.second-tag
{
    padding:0.2rem 0.5rem;
}
.answer-btn-container
{
padding-top:1.4rem;
}
}
@media (max-width:685px)
{
    /* #my-main{
        position:relative;
    } */
     /* ***********************pop-up add question******************/
     .img-show
     {
        top:58%;
         right: 5%;
            }
    .question-form{
        height:30rem;
    }
    .question-input
    {
        top:7rem;
    
    }
    .select-subject
    {
        top:15rem;
        left:4rem;
    }
    .question-tag
    {
        top:21rem;
        left:4rem;
    }
    .tag-selected-container
    {
    position:absolute; 
    bottom:2%;
    left:1%;
    }

    /*************************************pop up end********************************/
    aside
    {
        position: fixed;
        z-index:1;
        top:25%;
        left:-100%;
        width:20rem;
        border:none;
       
        -webkit-transition:left 0.5s,background-color .5s ease-out;
       
        -o-transition:left 0.5s,background-color .5s ease-out;
       
        transition:left 0.5s,background-color .5s ease-out;
    }
    .aside-opener
{

    left:-5%;
    background-color:rgba(0,0,0,0.9);
}
  

    .ask-look-question
    {
        position:absolute;
        width:100%;
    }


    .division-category
    {
        position:absolute;
        top:0%;
        left:15%;
        margin-bottom:2rem;
      
    }

    .division
{
    background-color: #F6F6F6;
    -webkit-box-shadow:none;
            box-shadow:none;

    border-radius:50px 0 0 50px;
  
    width:100%;
    
}
.subject-list a
{
    color:#fff;

}

.sidebarOpener
{
    position:fixed;
    left:0%;
   width:3rem;
   
    display:inline-block;
    
  
}
 .siderbarOpenerFixed
{
    display:none;
}
.sidebarOpener:hover,
.sidebarCloser:hover
{
background-color:rgb(192, 89, 10);

}


.sidebarCloser
{
   width:3rem;
   
    display:inline-block;
}
.sidebarCloser p
{
    font-size:0.7rem;
   margin-left:0.5rem;
   color:#fff;
}

/******************ask question section*****************/
.ask-question h2
{
    font-size:1rem;
}

}
@media (max-width:450px)
{
    .question-text
    {
        font-size:0.9rem;
    }
   
    .question-input
    {
        top:7rem;
    }
    .select-subject
    {
        top:15rem;
        left:2rem;
    }
    .question-tag
    {
        top:21rem;
        left:2rem;
    }

}

