
/**************************************************
/***********shared css for this css***************/
/***************************************************/



.more-option
{
    position:absolute;
    top:5%;
    right:5%;
}
.option-anchor
{
    text-decoration:none;
    border:none;
}
.cir-1,
.cir-2,
.cir-3
{
    display: inline-block;
    width:5px;
    height:5px;
    margin:0;
    padding:0;
    border:1px solid rgba(0,0,0,0.8);
    border-radius:50px;

}



.first-tag,
.second-tag
{
text-decoration: none;
padding:0.2rem 2rem;
border-radius: 50px;
font-size:0.5rem;
color:#Fff;

}
.first-tag
{
    background-color:#32ACFE;

}
.second-tag
{

background-color:#F60000;
}

.small-detail
{
    position:absolute;
    top:45%;
    left:5%;
    width:80%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:#707070;
    letter-spacing: 0.1rem;
}

.btn
{
    text-decoration:none;
    border-radius:50px;
   
    padding:0.7rem 1rem;
    font-size:0.6rem;
    letter-spacing: 0.1rem;
    color:#F6F6F6;
    font-weight: 700;
    box-shadow:1px 1px 2px 1px rgba(0,0,0,0.3);
    transition:background-color 0.3s;
}
















/***************************************************/
/*********************bichako bhaag ****************/
/***************************************************/
main
{
    display:flex;
    justify-content: space-between;
    flex-direction:row-reverse;
    margin-top:3rem;

width:100%;
height:auto;


}
/*********************Side BAR of Division****************/
aside
{

    position: relative;
    width:20rem;
    border-left:4px dotted #707070;
    
    height:25.25rem;
   



}



.division-category
{
  
    margin-bottom:2rem;
    display:flex;
    justify-content: space-between;
}
.division
{
    border-radius:50px;
    background-color:#05B22D;
    padding:0.6rem 3rem;
    text-decoration: none;
    font-size: 0.75rem;
    color:#F6F6F6;
    font-weight: 400;
    display:block;
    width:80%;
    letter-spacing:0.1rem;
}
.question-lists
{
    position:absolute;
    top:3%;
    left:0%;
width:20rem;
    list-style:none;

  
}
.question-list
{
    margin:1rem 0;
    width:80%;



}
.question-list a
{
    text-decoration:none;
    border-radius:50px;
    display:block;
    font-size: 0.75rem;
    padding:0.3rem 1rem;

    width:80%;
    font-weight: 400;
    letter-spacing: 0.1rem;

}
#division-select
{
    background-color:#D8D5D5;
}
/*************************88********sidbar opener and closer********************************/
.sidebarOpener
{
   
   
    display:none;
    width:2rem;
    background-color:#23b490;
    border-radius:0 50px 50px 0;
    text-decoration: none;
}
.sidebarOpener p
{
   font-size:0.7rem;
   margin-left:0.5rem;
   color:#fff;
}
.sidebarCloser
{
   
    display:none;
    width:2rem;
    background-color:#23b490;
    border-radius:0 50px 50px 0;
    text-decoration: none;
}
.sidebarCloser p
{
    font-size:0.7rem;
   margin-left:0.5rem;
   color:#fff;
}


/*********************show question section ***************************/
.show-look-question
{
    width:80%;

    height:auto;
    
    display:flex;
    flex-direction:column;
  align-items: center;
    justify-content: space-between;
    
}
.show-question
{
    position: relative;
    width:80%;
    background-color:#F6F6F6;
    height:25rem;
    border-radius:6px;

    margin-bottom: 10rem;
  
}
.question-text
{
    position:absolute;
    top:8%;
    left:5%;
    margin-top:30px;
    letter-spacing: 0.06rem;
    font-size:24px;
}

.show-questions
{
    position:relative;
    width:100%;
    height:50%;
    background-color:#F6F6F6;
    margin-bottom: 2rem;
}
.show-question h2
{
    position:absolute;
    top:10%;
    left:30%;
    color:#707070;
    text-transform: uppercase;
    }

    .show-small-detail
{
    position:absolute;
    top:45%;
    left:5%;
    
}
.show-question-btn
{
    display:flex;
    position:absolute;
    justify-content:flex-end;
    padding-bottom:2rem;
    width:85%;
    top:50%;
    right:5%;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    
}
.add-answer-btn
{
    margin-right:1rem;
    background-color:#F17516;
}
.follow-btn
{
    background-color:#05B22D;
}

.answer-number
{
    position:absolute;
    bottom:10%;
    left:10%;
    font-size:2rem;
    color:#565656;
    font-family:Arial, Helvetica, sans-serif;
}

/*********************main answer section ***************************/
.answer-container
{
    width:80%;
    height:auto;
}

.answers
{   
    position:relative;
    width:100%;
    height:auto;
    background-color:#F6F6F6;
    margin-bottom: 2rem;
    display:flex;
    flex-direction: column;
    padding:0 4rem; 

}
/*************************************answer container vitra ko user ko profile*******************/
.profile-information
{
display:flex;
justify-content: space-around;
align-items: center;

}

.profile-answer-time
{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin:1rem 1rem 0 1rem;
    width:30%;
  
}
.add-friend
{
    
    width:60%;
    text-align:right;

}
.profile-text
{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin:0;
}

.profile-text p
{
    margin:0.3rem;
    font-size:0.8rem;
    color:#707070;
    letter-spacing: 0.1rem;
}

.profile-text span
{
 
    font-size:0.5rem;
    color:#565656;
    letter-spacing: 0.1rem;
}
.profile-information img
{
    width:3.2rem;
    height:3.2rem;
    border-radius: 50px;

}

/*******************************answer container bhitra ko answer ko laagi*******************/
.answer-content p
{
    padding:0 2rem;
}
.answer-text-image
{
    width:80%;
    margin:auto;
    height:20rem;
    display:block;

}
/**************************************************comment start**********************/
.comment-btn
{
border:none;
letter-spacing: 0.09rem;
display:inline-block;
padding: 1rem;
}
.comment-box
{
    width:100%;
    height:auto;
    background-color:rgb(230, 228, 228);
    box-shadow:1px 1px 5px rgba(0,0,0,0.3);
   display: none;
}
.active
{
    display:block;
}
/******************************before comment  information******************************/
.comment-profile-information
{
    display:flex;
    padding:2.5rem;
   
}

.comment-profile-information img
{
    width:3rem;
    height:3rem;
    border-radius: 50px;
    margin-right: 1rem;
}
.comment-profile-information input
{
    width:70%;
    border:none;
    border-radius: 50px;
    padding:1rem;
}

.add-comment-btn
{
    margin-left:1rem;
    padding:1rem 1rem;
    background-color:#05B22D;
    border:none;
    border-radius:50px;
    color:#fff;
    width:5rem;
    display:none;
}
.add-reply-button
{
    margin-left:1rem;
    padding:1rem 1rem;
    background-color:#05B22D;
    border:none;
    border-radius:50px;
    color:#fff;
    width:5rem;  
    display:none;
}
.btn-hidden
{
    display:block;
}
/******************************after comment  information******************************/
.comment-after-post
{
    display:flex;
    flex-direction: column;
    padding-left:3rem;
    background-color:#Fff;
    border-bottom: 1px solid rgba(87, 87, 87, 0.205);
    margin-bottom: 1rem;
    
}
.comment-second-parent
{
    display:flex;
    flex-direction:column;
}
.comment-second-parent span
{
    padding-top:1rem;
}
.profile-answer-time{
    width:2rem;
}

.profile-answer-time img
{
    width:3rem;
    height:3rem;
    border-radius: 50px;
}
.profile-text
{
    color:#565656;
letter-spacing: 0.1rem;
}
.comment-text
{
    color:#565656;
    margin-left:1.2rem;
}



/*********************************comment reply section **********************************/
.comment-reply
{

 
    padding-left:3rem;
}
.reply-btn
{
    margin:1rem 0;
}
.comment-reply-btn
{
    border:none;

    color:#fff;
    font-size:0.6rem;
    background-color:#32ACFE;
    padding:0.2rem 1rem;
    border-radius:50px;
    margin-top:3rem;
}

.reply-answer-time
{
    display:flex;
    flex-direction:column;
    margin-top:1rem;

}
.reply-answer-time img
{
    width:2rem;
    height:2rem;
    border-radius: 50px;
}
.reply-profile
{
color:#565656;
letter-spacing: 0.1rem;
}


.reply-profile
{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin:0;
}

.reply-profile p
{
    margin:0.3rem;
    font-size:0.8rem;
    color:#707070;
    letter-spacing: 0.1rem;
}

.reply-profile span
{
 
    font-size:0.5rem;
    color:#565656;
    letter-spacing: 0.1rem;
}
.reply-text
{
    display:inline-block;
}
.reply-text p{
    font-size:0.8rem;
    padding-left:1rem;
    letter-spacing: 0.09;
}




/******************************responsive design*******************/
@media (max-width:1000px)
{
    /********************division category*****************************/
    .my-main{
        position:relative;
    }
    aside
    {
        position: absolute;
        z-index:1;
        top:25%;
        left:-100%;
        width:20rem;
        border:none;
       
        transition:left 0.5s,background-color .5s ease-out;
    }
    .aside-opener
{

    left:-5%;
    background-color:rgba(0,0,0,0.9);
}
  

    .ask-look-question
    {
        position:absolute;
        width:100%;
    }


    .division-category
    {
        position:absolute;
        top:0%;
        left:15%;
        margin-bottom:2rem;
      
    }

    .division
{
   
    border-radius:50px 0 0 50px;
  
    width:100%;
    
}
.subject-list a
{
    color:#fff;

}

.sidebarOpener
{
    position:fixed;
    left:0%;
   width:3rem;
   
    display:inline-block;
    
  
}
 .siderbarOpenerFixed
{
    display:none;
}
.sidebarCloser
{
   width:3rem;
   
    display:inline-block;
}
.sidebarCloser p
{
    font-size:0.7rem;
   margin-left:0.5rem;
   color:#fff;
}

}